$uni-color-primary: #6c5a00;
$uni-color-success: #166665;
$uni-color-warning: #ffd709;
$uni-color-error: #ff4d4f;

$uni-text-color: #2d2f2f;
$uni-text-color-secondary: #5a5c5c;
$uni-text-color-placeholder: #acadad;
$uni-text-color-disabled: #767777;

$uni-bg-color: #ffffff;
$uni-bg-color-grey: #f0f1f1;
$uni-bg-color-hover: #e7e8e8;

$uni-border-color: #e7e8e8;
$uni-border-radius-sm: 8rpx;
$uni-border-radius: 16rpx;
$uni-border-radius-lg: 32rpx;
$uni-border-radius-circle: 50%;
